#header{
  background-color: transparent;
  border: none;
}

#logo{
  width: 350px;
  height: 80px;
  margin-left: 30%;
  background-image: url('../images/lo.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

#sidebtn{
  margin-top: 10px;
  background-color:rgba(8,8,8,0.4);
  border: none;
}

/*.circle {
position: relative;
border-radius: 50%;
border:none;
width: 20%;
height: auto;
padding-top: 20%;
margin: 2%;
background: rgba(0,0,0,.34);

}*/

#middle{
  display: flex;
  margin-left: 20%;
}
 


body{
  width: 100%;
  height: auto;
  background-image: url('../images/sunset.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Open Sans', sans-serif;

}


#form1{
  width: 80%;
  height: auto;
  border: 30px solid rgba(8,8,8,0.09);
  background-color:rgba(8,8,8,0.59);
 
}


.round-button {
  width:300px;
}
.round-button-circle {
    width         : 250px;
    height        :0;
    padding-bottom: 100%;
    border-radius : 50%;
    border: 10px solid rgba(8,8,8,0.09);
    overflow      :hidden;
    
   background: rgba(0,0,0,.34);
    box-shadow    : 0 0 3px gray;
}
/*.round-button-circle:hover {
  background:orange;
  border: 10px solid red;
}*/
.round-button a {
    float:left;
    width:100%;
    padding-top:30%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    margin-left: 6%;
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.5em;
    font-weight:bold;
    text-decoration:none;
}

.glyphicon {
    font-size: 50px;
}


@media(max-width:1292px){
  #middle{
    margin-left: 15%;
  }
}

@media(max-width:1040px){
  #middle{
    margin-left: 10%;
  }
}

@media (max-width: 768px){
    
    #logo{
       width: 250px;
       height: 60px;
        margin-left: 10%;
    }

    #middle{
  display: inline-block;
  margin-left: 5%;
}

  .round-button {

  width:98%;

}

  .round-button-circle {
    width         : 98%;
    height        :1%;
    padding-bottom: 0%;
    border-radius : 0%;
    border: 10px solid rgba(8,8,8,0.09);
    overflow      :hidden;
    
   background: rgba(0,0,0,.34);
    box-shadow    : 0 0 3px gray;
}

  .round-button a {
    float:left;
    width:100%;
    padding-top:5%;
    padding-bottom:5%;
    line-height:1em;
    margin-top:-0.5em;
    margin-left: 3%;
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

 } 

 @media (max-width: 600px){
    .round-button {

  width:98%;
  margin-left: 10%;
}
 }