

   <nav class="navbar navbar-default" id="header">
  <div class="container-fluid">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#" id="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span style="color:white">Help</span></a></li>
      <li><a href="#"><span style="color:white">Login</span> </a></li>
      <li><button class="btn btn-info btn-md" type="submit" id="sidebtn">Partner? View leads</button></li>
    </ul>
      
    </div>
  </div>
</nav>

  <center><h1><span style="color:#fff">Plan your perfect vacations... When you are</span></h1></center>
  
   <div style="display:flex">


     <div class="round-button">
     <div class="round-button-circle">
     <a href="" class="round-button">
     <span style="color:yellow">Wondering Where to go..</span>
     <br><br>
     <div class="row">
       <div class="col-sm-3">
         <span class="glyphicon glyphicon-globe"></span>
       </div>
       <div class="col-sm-3">
         Discover Destination & vacation theme
       </div>
     </div>
     
     </a>
     </div>
     </div>



   <div class="round-button">
   <div class="round-button-circle">
   <a href="" class="round-button">
   <span style="color:yellow">
     Exploring Destination or Theme..
   </span>
   <div class="row">
     <div class="col-sm-3"><span class="glyphicon glyphicon-send"></span></div>
     <div class="col-sm-3">By Destination Or By vacation theme</div>
   </div>
   </a>
   </div>
   </div>


   <div class="round-button">
   <div class="round-button-circle">
   <a href="" class="round-button">
   <span style="color:yellow">
     Already Know Your Destination..
   </span>
   <div class="row">
     <span class="glyphicon glyphicon-send"></span>
     <div class="col-sm-3">Book Hotels Flights Packages</div>
   </div>
   </a>
   </div>
   </div>

  
   </div>
     
           
   <br><br><br>
  
    <div class="container">
      <center>
        <form class="navbar-form" role="search" >
    <div class="input-group add-on" id="form1" >
      <input class="form-control input-lg" placeholder="For Example Banglore or banglore Street" name="srch-term" id="srch-term" type="text">
      <div class="input-group-btn">
        <button class="btn btn-success btn-lg" type="submit" style="border-radius:2px;color:inherit">Search</button>
      </div>
    </div>
  </form>
      </center>

    
  </div>
 